<!DOCTYPE html>
<head>

</head>
<body>
    <h1>Result</h1>
    
    <p>FirstName: <%- formData.fname %></p>
    <p>LastName: <%- formData.lname %></p>
    <p>Color: <%- formData.color %></p>
    <p>Agreed: <%- formData.agree %></p>
</body>